

<% layout("/layouts/boilerplate") -%> <%= success %>


    <div class="filters   ">
      <div class="filter">
        <a href="listings/mainpage"><i class="fa-solid fa-fire"></i></a>
          <p class=" filters">Trending</p>
    </div>
    <div class="filter">
      <a href="listings/mainpage"><i class="fa-solid fa-bed"></i></a>
           <p class=" filters" >Rooms</p>
     </div>
     <div class="filter">
      <a href="listings/mainpage"><i class="fa-solid fa-mountain-city"></i></a>
           <p class=" filters" >Iconic city</p>
     </div>
     <div class="filter">
      <a href="listings/mainpage"><i class="fa-solid fa-mountain-sun"></i></a>
           <p class=" filters" >Mountains</p>
     </div>
     <div class="filter">
      <a href="listings/mainpage"><i class="fa-brands fa-fort-awesome"></i></a>
           <p class=" filters" >Castles</p>
     </div>
     <div class="filter">
      <a href="listings/mainpage"><i class="fa-solid fa-person-swimming"></i></a>
           <p class=" filters" >Amazing pools</p>
     </div>
     <div class="filter">
      <a href="listings/mainpage"><i class="fa-solid fa-campground"></i></a>
           <p  class=" filters">Camping</p>
     </div>
     <div class="filter">
      <a href="listings/mainpage">  <i class="fa-solid fa-tractor"></i>    </a>
           <p class=" filters" >Farms</p>
     </div>
    
     <div class="filter">
      <a href="listings/mainpage"><i class="fa-solid fa-snowflake"></i></a>
           <p class=" filters" >Arctic</p>
     </div>
     <div class="filter">
      <a href="listings/mainpage"><i class="fa-solid fa-igloo"></i></a>
           <p class=" filters" >Doms</p>
     </div>
     <div class="filter">
      <a href="listings/mainpage"><i class="fa-solid fa-palette"></i></a>
           <p class=" filters" >Creative space</p>
     </div>

     <div class="tax-toggle">
     <div class="form-check-reverse form-switch">
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
      <label class="form-check-label" for="flexSwitchCheckDefault">display total after taxes</label>
    </div>
    </div>
    </div>
  <form method="GET" action="/listings/new" > 

     <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
      <% for(let listing of allListings) { %>
      <a href="/listings/<%= listing._id %>" 
        class="listing-link">
      <div class="card col listing-card" >
        <img src="<%= listing.image%>" class="card-img-top"
        alt="listing_image"
        style="height: 20rem "
        />
        <div class="card-img-overlay">
          <i class="fa-regular fa-heart"></i>
        </div>
        <div class="card-body">
          <p class="card-text">
           <%= listing.title %> <br>
           &#8377;<%= listing.price%>/night<br>
           <i class="tax-info ">  &nbsp; <b>+18% GST</b></i>
           
          </p>
        </div>
      </div>   
    
      </a>   
      <% } %>
    </form>
<script> 
 let taxSwitch = document.getElementById("flexSwitchCheckDefault");
 taxSwitch.addEventListener("click", () => {
 let taxInfo = document.getElementsByClassName("tax-info");
 console.log(taxInfo);

  for (info of taxInfo) {
     if( info.style.display != "inline") {
      info.style.display = "inline";
   
   }else {
    info.style.display = "none";
   }
  
 }
 });

</script>
 




