
  <!---- <%layout("/layouts/boilerplate") -%>


<script>
let mapToken = "<= process.env.MAP_TOKEN %>";
console.log(mapToken);
	mapboxgl.accessToken = mapToken;
    const map = new mapboxgl.Map({
        container: 'map', // container ID
        center: [84.3807, 24.7487], // starting position [lng, lat]
        zoom: 9 // starting zoom
    });
</script>
</script> -->


<!-------START-->


<% layout("/layouts/boilerplate") -%>
   <body>

    <div class="row mt-3">
      <div class="col-8 offset-3 ">
        <h3><%= listing.title %></h3>
      </div>
      
    <div class="card col-6 offset-3 show-card listing-card">
      <img 
      src="<%= listing.image %>>"
      class="card-img-top show-image" 
      alt="listing_image"
      />
        <div class="card-body">
          <p class="card-text">

            <p class="card-text"> Owned by<i><%= listing.owner._username %></i></p>
            <p class="card-text">   <%= listing.description %></p>
            <p class="card-text">   &#8377; <%= listing.price.toLocaleString("en-IN")%>/night</p>
              <p class="card-text">    <%= listing.location %></p>
                <p class="card-text">   <%= listing.country %></p>
         </p>

    </div>
   

   <% if(currUser && currUser._id.equals(currUder._id)) { %>
   <div class="btns">
    <a 
    href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-2 offset-2 edit-btn mt-4"
    >Edit </a>

    <form  method="POST" action="/listings/<%=listing._id%>?_method=DELETE"  >
      <button  class="btn btn-dark  offset-4 mt-4" >Delete</button>
    </form>
  </div>
  <% } %>


<hr>
  <div class=" col-8 offset-3 mb-3">
    <% if(currUser)  { %>
  <h4>Leave a review</h4>
  <form action="/listings/<%= listing.id %>/reviews" method="POST"
    novalidate class="needs-validation">
    <div >

      <div class="mb-3 mt-3">
        <label for="rating" class="form-label">Rating</label>
    <fieldset class="starability-slot">
      <input type="radio" id="no-rate" class="input-no-rate" 
      name="review[rating]" value="1" checked aria-label="No rating." />
      <input type="radio" id="first-rate1" name="review[rating]" value="1" />
      <label for="first-rate1" title="Terrible">1 star</label>
      <input type="radio" id="first-rate2" name="review[rating]" value="2" />
      <label for="first-rate2" title="Not good">2 stars</label>
      <input type="radio" id="first-rate3" name="review[rating]" value="3" />
      <label for="first-rate3" title="Average">3 stars</label>
      <input type="radio" id="first-rate4" name="review[rating]" value="4" />
      <label for="first-rate4" title="Very good">4 stars</label>
      <input type="radio" id="first-rate5" name="review[rating]" value="5" />
      <label for="first-rate5" title="Amazing">5 stars</label>
    </fieldset>
      </div>
   
  <div class="mb-3" mt-3 >
    <label for="comment"class="form-label" >Comments</label>
    <textarea 
    name="review[comment]"
    id="comment"
    cols="30"
    rows="5"
    class="form-control"
    required
    ></textarea>
    <div class="invalid-feedback  "> Please add some comments for review</div>
  </div>
  <button class="btn btn-outline-dark">  Submit</button>
</form>
    </div>
  </form>
  <% } %>
 




  <h4>All Reviews</h4>
 
   
  <div class="row">
   <% for(review of listing.reviews){ %>
   <div class="card col-5 ms-3 mb-3">
      <div class="card-body">
        <h5 class="card-title">@<%= review.author.username %></h5>
        <p class="starability-result card-text"
         data-rating="<%= review.rating %>"> </p>

        <p class="card-text"> <%= review.comment %></p>
          
        <form
        class="mb-3"
        method="POST"
        action="/listings/<%= listing._id %>/reviews/
        <%= review._id %>?_method=DELETE">
        
          <button class="btn btn-sm btn-dark">Delete </button>
        
        </form>
      </div>
        </div>
      
  <% } %>
    </div>  
  </div>

    </div>
    </div>
 
<div class="container text-center       ">
 <div class="row  border border-3 rounded-4 ">
   <div class="col align-self-start">
   <h4> “You must try these resorts”  </h4>
   ⭐ ⭐ ⭐ ⭐<br>
  
  <img  src="/media/tent1.webp "  class="rounded-circle" height="50px" width="50px" >
  Matt Cannon<br>San Diego, CA
   </div>
 </div>
</div>
   
    <h3>Where you'll be</h3>
    <div class="row mb-3 ">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28985.28902375344!2d84.36083737253254!3d24.755664032603985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x398cfc35b57ffe31%3A0xffea2031cb937478!2z4KSU4KSw4KSC4KSX4KS-4KSs4KS-4KSmLCDgpKzgpL_gpLngpL7gpLA!5e0!3m2!1shi!2sin!4v1666072786122!5m2!1shi!2sin"
      width="80%"  height="300px" style="border:0; margin-right: 50px;
      " allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
       
   